<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo">
    <title> Dumbo AI Image Generater</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
</head>
<body>
    <section class="image-generator">
        <div class="content">
            <h1>Dumbo AI Image Generater</h1>
            <p>Convert your text into images within a second</p>
            <form action="#" class="generate-form">
                <input type="text" class="prompt-input" placeholder="Describe your image text" required>
                <div class="controls">
                    <select class="img-quantity">
                   <option value="1">1 image</option>
                   <option value="2">2 image</option>
                   <option value="3">3 image</option>
                   <option value="4">4 image</option>
                    </select>
                    <button type="submit" class="generate-btn">Generate</button>
                </div>
            </form> 
        </div>
    </section> 
    <section class="image-gallery">
        <div class="img-card">
            <img src="img-1.jpg" alt="image">
            <a href="#" class="download-btn">
                <img src="download.svg" alt="download icon">
            </a>
        </div>

        <div class="img-card">
            <img src="img-2.jpg" alt="image">
            <a href="#" class="download-btn">
                <img src="download.svg" alt="download icon">
            </a>
        </div>


        <div class="img-card">
            <img src="img-3.jpg" alt="image">
            <a href="#" class="download-btn">
                <img src="download.svg" alt="download icon">
            </a>
        </div>


        <div class="img-card">
            <img src="img-4.jpg" alt="image">
            <a href="#" class="download-btn">
                <img src="download.svg" alt="download icon">
            </a>
        </div>

    </section>

</body>
</html>
